name: Publish

on:
  workflow_dispatch:

jobs:
  PublishPackage:
    name: Publish tech.favware.result
    runs-on: ubuntu-latest
    if: github.repository_owner == 'favware'
    steps:
      - name: Checkout Project
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: main
          token: ${{ secrets.BOT_TOKEN }}
      - name: Setup Java 8
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 8
          cache: gradle
      - name: Use Node.js v20
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn
          registry-url: https://registry.yarnpkg.com/
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Install Dependencies
        run: yarn --immutable
      - name: Configure Git
        run: |
          git remote set-url origin "https://${GITHUB_TOKEN}:x-oauth-basic@github.com/${GITHUB_REPOSITORY}.git"
          git config --local user.email "${GITHUB_EMAIL}"
          git config --local user.name "${GITHUB_USER}"
        env:
          GITHUB_USER: github-actions[bot]
          GITHUB_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Bump Versions and make release
        run: yarn bump
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish Package
        run: ./gradlew publish --console verbose
        env:
          GPR_USERNAME: github-actions[bot]
          GPR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OSSHR_USERNAME: ${{ secrets.OSSHR_USERNAME }}
          OSSHR_TOKEN: ${{ secrets.OSSHR_TOKEN }}
          PGP_SIGNING_KEY: ${{ secrets.PGP_SIGNING_KEY }}
          PGP_SIGNING_PASSWORD: ${{ secrets.PGP_SIGNING_PASSWORD }}
